*
{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}
#waper-div{
    width: 96%;
    margin: auto;
    background-color: whitesmoke;
}